<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

  <%- contents %>

  <footer class="footer">
    <h2 class="sec-title mb-1">Contact</h2>
    <p class="footer-item mail mb-1"><a href="#" class="footer-link">Mail：xxxd@hexschool.com</a></p>
    <p class="footer-item phone"><a href="#" class="footer-link">Phone Number：0910123456</a></p>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
