@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto:ital,wght@1,500&family=Titillium+Web:ital@1&family=Work+Sans:ital,wght@1,200&display=swap');
@import url(./reset.css);
$light: #FFFFFF;
$normal: #000000;
$danger:  #891818;
@mixin full{
    width: 100%;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
}
.sec-title{
    font-size: 64px;
    line-height: 84px;
}
.txt{
    font-size: 24px;
    line-height: 32px;
}
.mb-1{
    margin-bottom: 16px;
}
.mr-2{
    margin-right: 24px;
}
.fs-it{
    font-style: italic
}

.banner{
    @include full;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light;
    margin-bottom: 56px;
    .banner-box{
        margin: 308px 0;
        .here{
            font-size: 24px;
            line-height: 32px;
        }
        .first-title{
            font-size: 80px;
            line-height: 106px;
            margin-bottom: 32px;
        }
        .banner-contxt{
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 40px;
        }
    }
    .contact-icons{
        justify-content: space-between;
    }
}

.about{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    .sec-title{
        margin-bottom: 40px;
        font-weight: normal;
    }
    .person-img{
        margin-bottom: 20px;
    }
    .name{
        margin-bottom: 4px;
    }
    .birth{
        margin-bottom: 8px;
    }
    .school{
        margin-bottom: 24px;
    }
    .about-list{
        width: 384px;
        border-top: 1px solid $normal;
        margin: 0 auto;
        padding: 28px 0;
        .list-item{
            margin-bottom: 28px;
            .circle{
                width: 22px;
                height: 22px;
                border-radius: 999em;
                background: $danger;
                margin-right: 16px;
                display: inline-block;
            }
        }
    }
}

.brand{
    @include full;
    background: $normal;
    color: $light;
    text-align: center;
    padding: 56px 0 160px;
    margin-bottom: 56px;
    .sec-title{
        margin-bottom: 12px;
    }
    .brand-txt1{
        margin-bottom: 32px;
    }
    .brand-txt2{
        margin-bottom: 68px;
        font-size: 20px;
        line-height: 30px;
    }
    .brand-img1{
        margin-bottom: 40px;
    }
    .img-container{
        justify-content: center;
    }
}

.other-works{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 96px;
    .sec-title{
        margin-bottom: 16px;
    }
    .work-contxt{
        margin-bottom: 56px;
        font-size: 20px;
        line-height: 30px;
    }
    .img-items{
        flex-wrap: wrap;
        .img-item{
            .work-note{
                font-size: 20px;
                line-height: 28px;
                margin-bottom: 48px;
            }
        }
    }
}

.footer{
    @include full;
    background: $normal;
    padding: 64px 0;
    text-align: center;
    .sec-title{
        color: $light;
    }
    .footer-item{
        font-size: 20px;
        line-height: 33px;
        .footer-link{
            color: $light;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
